<!-- by: Anderson Mário Neto | UI Designer, Front-End -->

<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - AnderStore.ao</title>

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="css/menu.css">

    <!-- Pacote de icones Boxicons.com -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav-logo">AnderStore</a>
        
            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#m" class="nav-link active-link">
                            <i class='bx bx-store nav-icon'></i>
                            <span class="nav-name">Marketplace</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#a" class="nav-link">
                            <i class='bx bx-bell nav-icon'></i>
                            <span class="nav-name">Actividade</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#s" class="nav-link">
                            <i class='bx bx-search nav-icon'></i>
                            <span class="nav-name">Pesquisa</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#v" class="nav-link">
                            <i class='bx bxs-edit nav-icon'></i>
                            <span class="nav-name">Vender</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#c" class="nav-link">
                            <i class='bx bx-message-square-detail nav-icon'></i>
                            <span class="nav-name">Chat</span>
                        </a>
                    </li>
                </ul>
            </div>

            <img src="img/person.png" class="nav-img">
        </nav>
    </header>

    <main>
        <!-- <section class="container section section-height">
            <h2 class="section-title" id="m">Marketplace</h2>
        </section>

        <section class="container section section-height">
            <h2 class="section-title" id="a">Actividade</h2>
        </section>

        <section class="container section section-height">
            <h2 class="section-title" id="s">Search</h2>
        </section>

        <section class="container section section-height">
            <h2 class="section-title" id="v">Vendas</h2>
        </section>

        <section class="container section section-height">
            <h2 class="section-title" id="c">Chat</h2>
        </section> -->
    </main>

    <!-- Interações JS -->
    <script src="js/menu.js"></script>
</body>
</html>